body {
    overflow: hidden;
    overscroll-behavior-x: none;
    position: relative;
}
.mobile-view {
    /*중앙 배치*/
    float: none;
    margin: 0 auto;
    /*모바일 기준 너비 고정*/
    /*width: 491px;*/
    width: 100%;
    height: auto;
}
/*방문인증버튼*/
.btn-visit {
    background-color: #FF7B54;
    padding: 3px;
    border-radius: 20px;
    padding: 10px 80px;
}
.btn-visit:hover {
    background-color: #f55425;
    font-weight: bold;
}

/*footer : 즐겨찾기, 방문인증하기*/
footer > div{
    float: left;
}

footer {
    min-height: 80px;
}

.bi-heart, .bi-heart-fill {
    margin: 10px;
}

.bi-chevron-left {
    float: left;
}

.favoriteBtn {
    color: #f55425;
}

#btn-back {
    padding: 12px;
}

#main-row {
    min-height: 170px;
}

#categoryImg {
    height: 40px;
    width: auto;
}

/*footer와 header 제외한 content 공간*/
#content{
    position: relative;
    top: 75px;
}

#map-section {
    height: 600px;
    z-index: 0;
}

#content-main-board {
    position: absolute;
    top: 70%;
    left: 10%;
    width: 80%;
    height: auto;
    padding: 15px;
}

#content {
    position: relative;
    border: none;
}

#content-information {
    position: absolute;
    top: 30px;
    width: 30%;
    height: 40%;
    padding: 15px;
}

#content-review {
    position: absolute;
    top: 160px;
    width: 100%;
    height: 660px;
    padding: 15px;
}

#header{
    padding: 15px;
    border-radius: 0 0 20px 20px;
}

#footer {
    border-radius: 20px 20px 0 0;
}

#my-location, #kakao-location{
    position: absolute;
    top: -40px;
    width: 30px;
    height: 30px;
    padding: 4px;
    border-radius: 50px;
}

#my-location{
    right: 5px;
    background-color: white;
    border: 1px solid #f55425;
}

#kakao-location{
    right: 50px;
    background-color: white;
    border: 1px solid #ffa600;
}

#ask-deletion {
    position: absolute;
    bottom: -40px;
    right: 5px;
    border: none;
    background-color: transparent;
}

#ask-deletion i {
    margin-right: 3px;
}

#my-location, #kakaotalk-sharing-btn i {
    color: #f55425;
}
#kakao-location i {
    color: #ffa600;
}

#kakaotalk-sharing-btn i {
    margin-right: 10px;
}

.smallTxt {
    font-size: smaller;
}

#distance > i, #stars > i{
    color: #f55425;
    margin-right: 6px;
    margin-left: 6px;
}

#distance, #stars {
    margin: auto;
    float: left;
}

.center{
    margin: auto;
}

#monthly > p {
    font-weight: 500;
    font-size: larger;
    margin-top: 8px;
}

h4 {
    text-align: left;
    margin-bottom:15px;
}

#dayList {
    list-style-type: none;
}

#dayList li {
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid black;
    color: black;
    margin: 4px;
}

#payList li {
    float: left;
    margin-top: 12px;
    margin-bottom: 8px;
    margin-right: 50px;
}

#info-card{
    padding: 10px;
    width: 500px;
}

#review-container {
    height: 80%;
    width: 500px;
    overflow: scroll;
}

.review {
    position: relative;
    height: auto;
    width: 90%;
    align-self: center;
    margin-left: 17px;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 8px;
}

#btn-review, #btn-edit {
    position: absolute;
    top: 0px;
    color: white;
    background-color: #FF7B54;
    padding: 3px 0 3px 0;
    border-radius: 20px;
    padding: 10px 30px;
}
#btn-review{
    right: 800px;
}
.btn-review-finished{
    position: absolute;
    bottom: -120px;
    right: 0;
    color: white;
    background-color: #ffb700;
    padding: 3px 0 3px 0;
    border-radius: 20px;
    padding: 10px 30px;
}
#btn-edit {
    right: -120px;
}

#confirm{
    right: 20px;
    bottom: 20px;
}

#reviewConfirm{
    right: 20px;
    bottom: 20px;
    background-color: #F55425FF;
}

#btn-review:hover, #btn-edit:hover {
    background-color: #f55425;
    font-weight: bold;
}
.btn-review-finished:hover{
    background-color: #ffa600;
    font-weight: bold;
}

#updateInfo {
    position: absolute;
    top: 17px;
    left: 120px;
    color: #5e5e5e;
}

.createDate-review {
    font-size: smaller;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #7c7c7c;
}

.review-star-list {
    list-style-type: none;
    padding: 5px;
    margin-left: 10px;
    margin-bottom:0;

}
.review-star-list li {
    float: left;
    margin: 3px;
    color: #ffb700;
}

#review-score .review-star-list li{
    font-size: 30px;
}

.review-text {
    text-align: left;
    margin: 4px;
    height: 50px;
    width: 80%;
    overflow: scroll;
}

@media  screen and (min-width: 800px) {
    #large-left{
        position: relative;
        float: left;
        width: 70%;
        height: auto;
    }

    #large-right{
        positiion: relative;
        float: left;
        width: 30%;
        height: auto;
    }
}

#review-write-container{
    z-index: 100;
    width: 80%;
    height: 65%;
    position: absolute;
    border-radius: 20px;
    bottom: 0;
    left: 9.5%;
    margin: auto;
    padding: 20px;
}

#visitFinished-modal{
    z-index: 100;
    width: 500px;
    height: 300px;
    position: absolute;
    border-radius: 20px;
    bottom: 250px;
    left: 34%;
    padding: 20px;
}

#reviewError-modal{
    z-index: 100;
    width: 500px;
    height: 300px;
    position: absolute;
    border-radius: 20px;
    bottom: 250px;
    left: 34%;
    padding: 20px;
}

#review-write-container button:active{
    border: none;
}

textarea{
    resize: none;
    border-color: #ffe49f;
    border-width: 4px;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 20px;
}

textarea:focus{
    outline: none;
}

#review-cancel {
    position:absolute;
    top: 30px;
    right: 30px;
    display: inline-block;
    width: 50px;
}

@media screen and (max-width: 800px) {
    body{
        overflow: visible;
    }
    .mobile-view{
        width: 491px;
    }
    #map-section{
        height: 350px;
    }
    #content-main-board{
        height: 60%;
        left: 50px;
        top: 300px;
    }
    #content-information{
        width: 100%;
        top: 570px;
    }
    #content-review{
        top: 800px;
    }
    #info-card{
        width: auto;
    }
    #review-container{
        width: auto;
    }
    #btn-review, #btn-edit{
        right: 30px;
    }
    #visitFinished-modal{
        left: 0;
    }
}