.mobile-view {
    /*중앙 배치*/
    float: none;
    margin: 0 auto;
    /*모바일 기준 너비 고정*/
    width: 100%;
    height: auto;
}

#content {
    position: relative;
    border: none;
    top: 130px;
}

/*footer : 즐겨찾기, 방문인증하기*/
footer > div{
    float: left;
}

footer {
    min-height: 80px;
}

#btn-back {
    padding: 12px;
}

#main-row {
    min-height: 170px;
}


#header{
    padding: 15px;
    border-radius: 0 0 20px 20px;
    height: 86px;
}

#footer {
    border-radius: 20px 20px 0 0;
    padding-left: 15px;
    padding-top: 30px;
}

h4 {
    text-align: center;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    font-weight: 700;
}

#map {
    position: absolute;
    top: 60px;
    width: 80%;
    /*mobile -> height: 450px;*/
    height: 500px;
    margin-left: 10%;
    border-radius: 20px;
    padding: 15px;
}

#name {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

#category {
    text-align: left;
}

.categoryImg {
    height: 50px;
    width: auto;
}

#map-section {
    height: 80%;
}

#my-location, #kakao-location{
    position: absolute;
    bottom: 20px;
    width: 30px;
    height: 30px;
    padding: 4px;
    border-radius: 50px;
}

#my-location{
    right: 20px;
    background-color: white;
    border: 1px solid #f55425;
}

#kakao-location{
    right: 70px;
    background-color: white;
    border: 1px solid #ffa600;
}

#my-location i {
    color: #FF7B54;
}

#kakao-location{
    color: #ffb700;
}

.progress>div>img, .progress>div>input {
    position: absolute;
    right: 13px;
    top: 16px;
}

.progress {
    width: 95%;
}

#left-distance {
    position: absolute;
    bottom: -10px;
    left: 40%;
    color: black;
    font-weight: 700;
}

footer>p {
    position: absolute;
    top: -35px;
    /*left: 37%;*/
}

#info-text{
    position: relative;
}
#info-text p{
    position: absolute;
    left: 50px;
}
#info-text p:nth-child(2){
    top: 30px;
}

.categoryImg{
    margin-right: 6%;
}

.btn-category-apply-modal{
    color: white;
    background-color: #ffb700;
    border-radius: 20px;
    padding: 10px 20px;
    width: 100px;
    float: left;
    margin-top: 37px;
}