<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Category">
    <insert id="insertCategory">
        INSERT INTO category_table (name, icon, requestStatus, requestCnt)
        VALUES (#{name}, #{icon}, #{requestStatus}, #{requestCnt});
    </insert>
    <delete id="deleteCategory">
        DELETE FROM category_table
        WHERE id = #{id};
    </delete>
    <update id="updateCategory">
            UPDATE category_table
            SET name = #{name}, icon = #{icon}, requestStatus = #{requestStatus}, requestCnt = #{requestCnt}
            WHERE id = #{id};
    </update>
    <select id="getCategory" resultType="category">
        <![CDATA[
            SELECT *
            FROM category_table
            WHERE id = #{id};
        ]]>
    </select>
    <select id="getCategoryList" resultType="category">
        <![CDATA[
            SELECT *
            FROM category_table
        ]]>
    </select>
    <select id="getCategoryListByRequestStatus" resultType="category">
        <![CDATA[
            SELECT *
            FROM category_table
            WHERE requestStatus = #{requestStatus};
        ]]>
    </select>
</mapper>