<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main">
    <!--    <insert id="insertBoard">-->
    <!--        insert into BOARD (category, title, writer, content) values-->
    <!--        (#{category} , #{title} , #{writer} , #{content})-->
    <!--    </insert>-->
    <!--    <update id="updateBoard">-->
    <!--        update BOARD-->
    <!--        set title=#{title}, content=#{content}, writer=#{writer}, category=#{category} where seq=#{seq}-->
    <!--    </update>-->
    <!--    <delete id="deleteBoard">-->
    <!--        delete from BOARD where seq=#{seq}-->
    <!--    </delete>-->
        <select id="getStores" resultType="com.foodhunter.DTO.Store">
            select * from stores_table order by visitCnt;
        </select>
    <select id="getOneStore" parameterType="int" resultType="com.foodhunter.DTO.Store">
        select * from stores_table where id = ${storeId};
    </select>
    <select id="getStoresDescending" resultType="com.foodhunter.DTO.Store">
        select * from stores_table order by id desc ;
    </select>

<!--        <select id="getStoresLike" resultType="int">-->
<!--            select count(storeId) from stores_table join like_table where like_table.storeId = stores_table.id;-->
<!--        </select>-->

        <select id="getAllCategories" resultType="com.foodhunter.DTO.Category">
            select * from category_table where requestStatus = 0;
        </select>

        <select id="getMarkerInfo" resultType="com.foodhunter.DTO.StoreMarker">
            select * from markers_table join stores_table join category_table
                on stores_table.id = markers_table.storeId
                    and stores_table.categoryId = category_table.id
                     where category_table.requestStatus=0
        </select>

        <select id="getLikes" resultType="com.foodhunter.DTO.Likes">
--             select storeId, count(storeId) from like_table group by storeId;
            select storeId, count(storeId) as likeCnt from like_table group by storeId;
        </select>
        <insert id="insertMarker">
            insert into markers_table (storeId, url, xLocation, yLocation, regDate)
            values (#{storeId}, #{url}, #{xLocation}, #{yLocation}, NOW());
        </insert>
        <select id="insertStore">
            insert into stores_table (name, categoryId, userId, visitCnt, regDate)
            values (#{name}, #{categoryId}, #{userId}, 0, NOW())
        </select>
    <!--    <select id="getBoardList" resultType="board">-->
    <!--        select * from BOARD order by seq desc-->
    <!--    </select>-->
</mapper>