<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
    <insert id="insertUser">
        insert into user_table(name, nickname, userImg, admin, email)
        values
            (#{name}, #{nickname}, #{userImg}, #{admin}, #{email});
    </insert>

    <delete id="deleteUser">
        delete from user_table where id=#{id};
    </delete>

    <select id="getUser" resultType="com.foodhunter.DTO.User">
        select * from user_table where id = #{id};
    </select>

    <select id="readUserByEmail" resultType="int">
        SELECT id FROM
            user_table WHERE email = #{email}
    </select>

    <update id="updateProfile">
        UPDATE user_table
        set nickname = #{nickname}
        where id = #{id};
    </update>
</mapper>
